body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../media/background.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  flex: 2;
}

main {
  h1 {
    margin: 10px 15px 0 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 27px;
  }
}
main {
  .description {
    padding: 15px;
  }
}
main {
  #result,
  p {
    padding: 4px 30px;
    font-size: 17px;
    line-height: 1.5;
  }
}
main {
  #result {
    div {
      padding-bottom: 7px;
    }
  }
}
.logo img {
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 0;
  width: 50px;
  height: 50px;
}
section {
  max-width: 800px;
  margin: 40px auto;
  // background-color: rgba(244, 250, 252, 0.836);
  border-radius: 10px;
}
section {
  button {
    background-color: rgba(195, 238, 250, 0.253);
    color: rgba(56, 56, 56, 0.842);
    border-radius: 10px;
    padding: 5px;
    margin-right: 30px;
    margin-bottom: 20px;
    display: none;
  }
}

section {
  button:focus {
    outline: none;
  }
}

section {
  button:hover {
    background-color: rgba(2, 141, 175, 0.452);
    display: block;
  }
}

section {
  .button-instructions {
    display: flex;
    justify-content: flex-end;
  }
}

section {
  p strong {
    display: none;
  }
}
section {
  .text-too-short {
    color: red;
    border: 1px solid rgba(1, 129, 161, 0.452);
    background-color: rgba(196, 232, 241, 0.452);
    width: 280px;
    margin-bottom: 20px;
    justify-content: center;
    margin: 15px auto;
    display: none;
    height: 50px;
    align-content: center;
  }
}
section {
  .text-too-short p {
    justify-content: center;
    align-content: center;
    height: 100%;
  }
}

// New code
#trip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(166, 225, 240, 0.288);
  background-color: rgba(253, 253, 253, 0.774);
  border-radius: 3px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.tripResult {
  display: none;
  padding-bottom: 20px;
  width: 93%;
}

.wrapperDiv2 {
  padding: 15px;
}

.imageDiv {
  width: 100%;
  height: auto;
}

.imageDiv {
  img {
    width: 100%;
  }
}

.headerInfo {
  border: 1px solid rgba(166, 225, 240, 0.288);
  border-bottom: none;
  background-color: rgba(253, 253, 253, 0.774);
  width: 93%;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}
